POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=game_store
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

ALLOWED_ORIGINS=http://localhost:3000

SECRET_KEY=secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# create an admin user on app startup if it does not exist yet
ADMIN_USERNAME=harry dubois
ADMIN_PASSWORD=password1
